@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Mission08.Models.Task

<h3>Confirm Deletion</h3>

<h5>Are you sure you want to delete the task "<span style="font-weight: bold">@Model.TaskName</span>" from your task list?</h5>

<form asp-action="ConfirmDeletion" method="post">
    <!-- Ensure the TaskId is properly sent with the form -->
    <input type="hidden" asp-for="TaskId" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Quadrants" class="btn btn-info">Cancel</a>
</form>
